<div>
    <a href="#" onclick="window.history.back(); return false;">Seguir Comprando</a>
</div>
<div>
    <h1>Tu perfil</h1>
    <p>Nombre : {{user.first_name}}</p>
    <p>Apellido : {{user.last_name}}</p>
    <p>Edad : {{user.age}}</p>
    <p>Privilegios :  {{user.role}}</p>
</div>